#main-wrapper .recently-top{
    display: flex;
    justify-content: space-between;
}

#main-wrapper .recently-title-box {
    display: flex;
    align-items: center;
    gap: 16px;

    
}

#main-wrapper .recently-title-box .title {
    color: var(--Lightmode-Grey);

    font-size: 24px;
    font-weight: 700;
}

#main-wrapper .info-button {
    display: flex;
    align-items: center;
    gap: 4px;

    border-radius: 6px;
    padding: 8px 10px;

    background-color: var(--Second);

    color: var(--Primary);

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
}

#main-wrapper .info-button .icon {
    width: 16px;
    height: 16px;
    
    background-image: url(src/assets/images/info.png);
    background-size: 100% 100%;
}

#main-wrapper .recently-chart-box {
    border-radius: 10px;
    height: 300px;

    background-color: bisque;
}